<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper id="blogMapper" namespace="com.zqgame.mapper.BlogMapper">
	<select id="findById" parameterType="int" resultMap="Blog">
		select * from user where id = #{id}
	</select>
<mapper/>
