<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zqgame.mappers.UserMapper">

    <resultMap id="user" type="com.zqgame.models.User">
        <result property="id" column="id" />
        <result property="username" column="username" />
        <result property="email" column="email" />
        <result property="salt" column="salt" />
        <result property="createdAt" column="created_at" />
    </resultMap>


    <insert id="save" parameterType="com.zqgame.models.User"
        useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO shiro_user (username, password, salt, email, created_at)
        VALUES (#{username}, #{password}, #{salt}, #{email}, CURDATE());
        <selectKey keyProperty="id" resultType="Integer" order="AFTER">
            select last_insert_id()
        </selectKey>
    </insert>

    <select id="findById" parameterType="int" resultType="com.zqgame.models.User">
        SELECT id, username, email FROM shiro_user WHERE id = #{id}
    </select>

    <select id="findByUsername" parameterType="String" resultType="com.zqgame.models.User">
        SELECT id, username, email, salt, created_at FROM shiro_user
        WHERE username = #{userId}
    </select>

</mapper>
