<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- import datasource and transaction manager  -->
    <import resource="classpath:com/zqgame/unittest-infrastructure.xml"/>

    <!-- Directly injecting mappers; notice there is no UserDaoImplementation
         needed, but the DAO interface is required. The required
         SqlSessionFactory will be autowired. -->
    <bean id="blogMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.zqgame.mappers.BlogMapper" />
    </bean>
    
    <bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.zqgame.mappers.UserMapper" />
    </bean>
</beans>

