<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//www.mybatis.org//DTD Config 3.0//EN"
    "http://www.mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="useGeneratedKeys" value="true" />
        <setting name="defaultExecutorType" value="REUSE" />
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>
	<!--
    <context:property-placeholder location="classpath:jdbc.properties"/>
    <environments default="development">
        <environment id="development">
            <transactionManager type="org.springframework.jdbc.datasource.DataSourceTransactionManager" />
            <dataSource type="com.mchange.v2.c3p0.ComboPooledDataSource">
				<property name="driverClass" value="${driverClass}"/>
				<property name="jdbcUrl" value="${url}"/>
				<property name="user" value="${username}"/>
				<property name="password" value="${password}"/>
            </dataSource>
        </environment>

        <environment id="test">
            <transactionManager type="org.springframework.jdbc.datasource.DataSourceTransactionManager" />
            <dataSource type="com.mchange.v2.c3p0.ComboPooledDataSource">
				<property name="driverClass" value="${driverClass}"/>
				<property name="jdbcUrl" value="${url}"/>
				<property name="user" value="${username}"/>
				<property name="password" value="${password1}"/>
            </dataSource>
        </environment>
    </environments>
	-->

    <plugins>
        <plugin interceptor="org.noo.pagination.interceptor.PaginationInterceptor">
            <property name="dialectClass" value="org.noo.pagination.dialect.db.MySQLDialect"/>
            <property name="sqlPattern" value=".*findAll.*"/>
        </plugin>
    </plugins>

</configuration>

